/* Font Family */

/* Heebo */
header, #card-title{
    font-family: 'Heebo', sans-serif;
}

/* Poppins */

#input-user-recipe, #button-click, #buttonCook, select {
    font-family: 'Poppins', sans-serif;
}

/* Header Styling */
header {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;

}

/* User Input Styling */
.form-row {
    margin-top: 5%;
}

/* Card Recipe Styling */
#findrecipe {
    margin-top: 5%;
}

.card {
    margin-top: 20px;
    text-align: center;
}

/* Button Color Styling */

#buttonCook, #button-click {
    background-color: #682323;
}

