/* User Input Styling */
.form-row {
    margin-top: 5%;
}

option {
    font-family: 'Heebo', sans-serif;
}

/* Card Recipe Styling */
#findrecipe {
    margin-top: 5%;
}

.card {
    margin-top: 20px;
    text-align: center;
}

