/* Font Family */

/* Heebo */
#page-title,
#card-title {
  font-family: "Heebo", sans-serif;
  color: white;
}

/* Poppins */

#input-user-recipe,
#button-click,
#buttonCook,
select {
  font-family: "Poppins", sans-serif;
}

/* Header Styling */
#page-title {
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
}

/* User Input Styling */
.form-row {
  margin-top: 5%;
}

/* Card Recipe Styling */
#find-recipe {
  margin-top: 5%;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card {
  margin-top: 20px;
  text-align: center;
}

/* Button Color Styling */

#buttonCook,
#button-click {
  background-color: #682323;
}

/* Footer Styling */

footer {
  background: #061d25;
  padding: 10px 0;
  text-align: center;
  position: relative;
}
footer a {
  color: #70726f;
  font-size: 20px;
  padding: 10px;
  transition: all 0.5s ease;
}
footer a:hover {
  color: white;
}

/* detail recipe styling */

#recipe {
  text-align: center;
  color: white;
  margin-bottom: 4%;
}

#detail {
  color: white;
}
