<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../styles/bookmark.css" />
    <title>Bookmarked Recipes</title>
  </head>
  <body style="margin: 0px">
    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-md"
      style="background-color: #682323; height: 80px"
    >
      <div
        class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
      >
        <ul class="navbar-nav mr-auto">
          <img src="/images/cook.svg" style="height: 90px" alt="" />
        </ul>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              style="color: whitesmoke; font-family: 'Heebo'; font-size: 18px"
              href="#"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              style="color: whitesmoke; font-family: 'Heebo'; font-size: 18px"
              href="#"
              >Recipe</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              style="color: whitesmoke; font-family: 'Heebo'; font-size: 18px"
              href="#"
              >Sign In</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              style="color: whitesmoke; font-family: 'Heebo'; font-size: 18px"
              href="#"
              >Sign Out</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <header>
      <h1 id="page-title">Your Bookmarked Recipes</h1>
    </header>

    <!-- Card Recipe -->
    <section class="container">
      <div id="recipe-list" class="card-deck">
        <!-- narik data dari API -->
      </div>
    </section>

    <footer>
      <a href="https://cookpad.com/id"><i class="fa fa-facebook"></i></a>
      <a href="https://cookpad.com/id"><i class="fa fa-twitter"></i></a>
      <a href="https://cookpad.com/id"><i class="fa fa-globe"></i></a>
    </footer>

    <script type="module" src="../scripts/bookmark.js"></script>
  </body>
</html>
